/* Login */
.text-block-custom {
    position: relative;
    top: -650px;
    left: 550px;
    color: #fff;
    width: 440px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    font-family: Montserrat, sans-serif;
}

input[type=text], input[type=password] {
    width: 400px;
    height: 40px; !important;
    padding: 0px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 0px;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-size: 22px;
    color: white;
    outline: none;

}

.expand input {
    background: transparent;
    padding: 10px;
    border: none;
}

.expand {
    display: inline-block;
    position: relative;
}

.border {
    display: block;

    position: absolute;
    height: 3px;
    width: 100%;
    top: 100%;
    background: crimson;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: 0% 50%;
}

input:focus + .border, .expand:focus .border {
    transform: scaleX(1);
    outline: none;
}

.login-btn-custom {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: -10px;
    border: none;
    width: 400px;
    background-color: crimson;
    color: #fff
}
.login-btn-custom:hover{
    background-color: #fff;
    color:crimson;
}
.myButt {
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    background-color: crimson;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.one {
    overflow: hidden;
    color: #fff;
}
.one .insider {
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: -135px;
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
}
.one:hover {
    background-color: #fff;
    color: crimson;
}
.one:hover .insider {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    left: 135px;
}